name: CI

on:
  push:
    branches: [main]
  workflow_dispatch: {}

jobs:
  frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'yarn'

      - name: Install frontend dependencies
        run: yarn install --frozen-lockfile
        working-directory: frontend

      - name: Run frontend tests
        run: yarn test
        working-directory: frontend

  backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24.4'

      - name: Run Go tests
        run: go test ./...
        working-directory: server
